.slider {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 0 auto;
  padding: 3rem;
  max-width: 30rem;
  font-family: 'Roboto', sans-serif;
}

.slider-window {
  width: 100%;
  overflow: hidden;
  grid-column: 1 / -1;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide img {
  width: 100%;
  height: auto;
  display: block;
}

.slide {
  min-width: 100%;
}

input[name="slider"] {
  display: none;
}

.controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.control-btn {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-btn:hover .dot {
  background-color: #999;
}

.control-btn:active .dot {
  background-color: #6098fe;
}

.dot {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #ccc;
  transition: background-color 0.3s ease;

}

.description-window {
  width: 100%;
  overflow: hidden;
}

.descriptions {
  display: flex;
  max-width: 30rem;
  transition: transform 0.5s ease-in-out;
}

.descriptions p {
  min-width: 100%;
  font-weight: 700;

}

#slide1:checked~.slider-window .slides {
  transform: translateX(0);
}

#slide2:checked~.slider-window .slides {
  transform: translateX(-100%);
}

#slide3:checked~.slider-window .slides {
  transform: translateX(-200%);
}

#slide4:checked~.slider-window .slides {
  transform: translateX(-300%);
}

#slide5:checked~.slider-window .slides {
  transform: translateX(-400%);
}

#slide1:checked~.description-window .descriptions {
  transform: translateX(0);
}

#slide2:checked~.description-window .descriptions {
  transform: translateX(-100%);
}

#slide3:checked~.description-window .descriptions {
  transform: translateX(-200%);
}

#slide4:checked~.description-window .descriptions {
  transform: translateX(-300%);
}

#slide5:checked~.description-window .descriptions {
  transform: translateX(-400%);
}

#slide1:checked~.controls .control-btn:nth-child(1) .dot {
  background-color: #6098fe;
}

#slide2:checked~.controls .control-btn:nth-child(2) .dot {
  background-color: #6098fe;
}

#slide3:checked~.controls .control-btn:nth-child(3) .dot {
  background-color: #6098fe;
}

#slide4:checked~.controls .control-btn:nth-child(4) .dot {
  background-color: #6098fe;
}

#slide5:checked~.controls .control-btn:nth-child(5) .dot {
  background-color: #6098fe;
}

@media (max-width: 768px) {
  .slider {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
  }

  .description-window {
    order: 1;
  }

  .controls {
    justify-content: center;
  }
}